@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-orange-200;
    background-color: rgb(53, 53, 53);
  }
  a {
    @apply text-cyan-400;
  }
}

.header {
  font-size: 4em;
}

.story-header {
  font-size: 1.2em;
  font-weight: 600;
}

.story-item {
  @apply border-dotted border-b-2 border-orange-500;
  padding: 1em 0.5em;
  margin: 0.5em 0;
}

.story-body {
  border-top: 1px solid;
  margin: 0.5em 2em;
  padding: 1em 0;
  color: white;
}
