@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.header {
  font-size: 4em;
}

.story-header {
  font-size: 1.2em;
  font-weight: 600;
}

.story-item {
  padding: 1em 0.5em;
  margin: 0.5em 0;
}

.story-body {
  border-top: 1px solid;
  margin: 0.5em 2em;
  padding: 1em 0;
}