{% extends "base.html" %}

{% block header %}Add Chapter{% endblock %}

{% block content %}
<form action="{% url 'postchapter' story.id %}" method="post">
{% csrf_token %}
<label>Chapter Title: </label>
<div><input type="text" name="chaptertitle" /></div>

<label>Chapter Text: </label>
<div>
	<textarea cols="50" name="body"></textarea>
</div>

<label>Chapter Order: </label>
<div><input class="bg-black" type="number" name="order" /></div>

<button type="submit">Submit</button>
</form>

{% endblock %}
