{% extends "base.html" %}

{% block header %}Edit{% endblock %}

{% block content %}
<form action="{% url 'poststory' %}" method="post">
{% csrf_token %}
<label>Story Title: </label>
<div><input type="text" name="title" value="{{ story.title }}"/></div>

<label>Story Summary: </label>
<div><textarea name="summary">{{ story.summary }}</textarea></div>

<div class="my-4">
Chapters:
{% for chapter in chapters %}
    <div>{{ chapter.order }} - {{ chapter.title }} 
        <a href="#">Edit</a>
    </div>
{% endfor %}
</div>

<button type="submit">Submit</button>
</form>

{% endblock %}
