{% extends "base.html" %}

{% block header %}Profile{% endblock %}

{% block content %} 
  <div class="mb-4">Username: {{ user.username }}</div>
  <a href="{% url 'addstory' %}">Add Story</a>

    {% for story in story_list %}
        <div class="story-item">
		<a class="story-header" href="{% url 'show' story.id %}">{{ story.title }}</a> by {{ story.user.username }}
		<div class="story-summary">
			Summary: {{ story.summary }}
		</div>
		<div class="mb-4 story-date">Updated: {{ story.update_date }}</div>
		<div class="font-bold"><a href="{% url 'editstory' story.id %}">Edit Story</a></div>
		<div class="font-bold"><a href="#">Add Chapter</a></div>
	</div>
    {% endfor %}
{% endblock %}
