{% extends "base.html" %}

{% block header %}Profile{% endblock %}

{% block content %} 
  <div class="mb-4">Username: {{ user.username }}</div>

  {% if user.is_authenticated %}	
    <a href="{% url 'addstory' %}">Add Story</a>
  {% endif %}

    {% for story in story_list %}
        <div class="story-item">
		<a class="story-header" href="{% url 'show' story.id %}">{{ story.title }}</a> by {{ story.user.username }}
		<div class="story-summary">
			Summary: {{ story.summary }}
		</div>
		<div class="story-date">Updated: {{ story.update_date }}</div>
	</div>
    {% endfor %}
{% endblock %}
